body {
    margin: 0;
    overflow: hidden;
}

#background-wrapper {
    width: 400%; /* Double the width to accommodate two background images */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

#background {
    width: 25%; /* Each background image occupies half of the wrapper */
    height: 100vh;
    float: left;
    background-image: url('bg.jpg');
    background-size: cover;
    animation: backgroundScroll 10s linear infinite;
}

#background2 {
    width: 25%; /* Each background image occupies half of the wrapper */
    height: 100vh;
    float: left;
    background-image: url('bg.jpg'); /* Assuming 'bg.jpg' is your background image */
    background-size: cover;
    animation: backgroundScroll 10s linear infinite;
}

#game-container {
    width: 100%;
    height: 100vh;
    position: fixed;
}

#game-container img {
    width: 250px;
    height: 125px;
    position: absolute;
    bottom: 20px; /* Initial position at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}

.obstacle {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0); /* Yellow for obstacles */
    position: absolute;
    border-radius: 50%;
}

.explosion {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 50%;
}

#score-counter {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px; /* Increase font size */
    font-family: 'Garamond', serif; /* Use Garamond font */
    font-weight: bold; /* Make the font bold */
    color: yellow; /* Set font color to yellow */
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Add a black outline/stroke */
}
